/* Grid Style */
:root {
    --side-length: 20;
}

.container {
    width: 80vmin;
    margin-inline: auto;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(var(--side-length), 1fr);
    grid-column: 2 / 3;
}
.container > div {
    border-radius: 15%;
    border: 1px solid #0000005d
}

/* Styling the page */
.App {
    display: grid;
    grid-template-columns: minmax(1fr, 200px) auto;
    grid-template-rows: 1fr;
}
